.MainHome-container{
    border: 3px solid red;
    min-width: 90%;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
}

.sayhi{
    min-height: 100%;
    width: 100%;
    border: 3px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.line{
    margin: 1rem 0;
    width: 20%;
}

.buttons a{
    color: white;
    text-decoration: none;
}

.sayhi .left, .right{
    max-height: 100%;
}

.sayhi .left {margin-left: 1rem; max-width: 50%;}
.sayhi .right{text-align: center; max-width: 50%;}

.sayhi .right img{
    max-width: 80%;
    min-width: 100px;
    border-radius: 50px;
}

.about{
    height: 100%;
    width: 100%;
    border: 3px solid green;

}


@media screen and (max-width: 600px) {
    .sayhi{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}