.MainHome-container {
  border: 3px solid red;
  min-width: 90%;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
}

.sayhi {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.line {
  margin: 1rem 0;
  width: 20%;
  max-width: 5rem;
}

.buttons a {
  color: white;
  text-decoration: none;
}

.button{
  min-width: 10rem;
}

.sayhi .left,
.right {
  max-height: 100%;
}

.sayhi .left {
  margin-left: 1rem;
  max-width: 50%;
}
.sayhi .right {
  text-align: center;
  width: 50%;
}

.sayhi .right img {
  max-width: 70%;
  min-width: 100px;
  border-radius: 50px;
}

.about {
  min-height: 100%;
  width: 100%;
  border: 3px solid green;
}

.resume {
  padding: 2rem 3rem;
}
.experience-area {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  width: 100%;
}

.education,
.experience {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience-cart {
  width: 100%;
  background-color: #235857;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.date1 {
  margin-right: 0.5rem;
  background-color: #0D2426;
  color: #D3D9D4;
  border-radius: 20px;
  padding: 0 1rem;
}

.area1{
  color: #8CBDB3;
}

.definition1 {
  height: 100%;
  margin: 1rem;
}


.definition1-title{
  color: #D3D9D4;
  font-size: 120%;
  font-weight: 500;
}

.definition1-main{
  color: darkgray;
  display: none;
}


.certificate-area{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;;
  gap: 1rem;
}
.certificate-cart{
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding-right: 0.5rem;
  width: 48%;
  border-radius: 20px;
}

.certificate-cart a{
  text-decoration: none;
  color: white;
}

.certificate-logo{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0.5rem;
}

.certificate-logo img{
  max-width: 100%;
  min-width: 90px;
  object-fit: contain;
  border-radius: 20px;
}


@media screen and (max-width: 1000px) {
  .education, .experience{
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .sayhi {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .resume{
    padding: 1rem;
  }
}


