

.intro {
  background-color: black;
  width: 400px;
  position: fixed;
  top: 0;
  height: 100%;
  overflow: auto;
  flex-direction: column;
}

.link-area{
  display: flex;
  flex-direction: column;
}


.link-area a {
  color: white;
  margin: 16px;
  padding: 5px 15px;
  text-decoration: none;
}

.link-area a:hover{
    border-left: 2px solid red;
    color: white;
}

.menu-true, .menu-false{
    align-self: flex-start;
}



.contact-box{
    display: inline-block;
    margin: 0.3rem;
    font-size: xx-large;

}

.intro img {
  width: 350px;
  max-width: 500px;
}

.MainHome {
  background-color: #334553;
  margin-left:400px ;
  padding: 4rem;
  height: 100vh;
}

.Skills {
  background-color: #334553;
}

.menu-icon{
    display: none;
}


@media screen and (max-width:1400px) {
    .intro{
        width: 250px;
        
    }
    .intro img{
        width: 200px;
    }
    
    .MainHome{
        margin-left: 250px;
    }
}

@media screen and (max-width: 800px) {
    .intro {
      width: 100%;
      height: auto;
      position: relative;
      flex-direction: row;
      overflow: hidden;
    }

    .intro img{
        width: 150px;
    }

    .link-area {
        align-self: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .intro a {float: left;}

    .MainHome {margin-left: 0;
    padding: 0rem 1rem;}
    .contact-boxs{
        display: none;
    }

    
  }

  @media screen and (max-width:730px) {
    .link-area{
        display: none;
    }

    .menu-icon{
        display: inline;
    }

    .menu-true .link-area{
        display: flex;
        flex-direction: column;
    }

    

  }
  
  @media screen and (max-width: 400px) {
    .intro a {
      text-align: center;
      float: none;
    }
  }